In [3]:
import pandas as pd
import random
import numpy as np

In [7]:
np.random.seed(123456)
df=pd.DataFrame({'foo':np.random.random(100),'key':range(100,200)})
df.head()

        foo  key
0  0.126970  100
1  0.966718  101
2  0.260476  102
3  0.897237  103
4  0.376750  104

In [9]:
df[df['key']==199]

         foo  key
99  0.249316  199

In [10]:
df.loc[99]

foo      0.249316
key    199.000000
Name: 99, dtype: float64

In [12]:
df.set_index('key',inplace=True)

In [13]:
df.head()

          foo
key
100  0.126970
101  0.966718
102  0.260476
103  0.897237
104  0.376750

In [14]:
df.loc[101]

foo    0.966718
Name: 101, dtype: float64

In [15]:
#

In [16]:
temps=pd.DataFrame({'City':['Missoula','Philadelphia'],'Temp':[70,80]})

In [18]:
temps

           City  Temp
0      Missoula    70
1  Philadelphia    80

In [19]:
temps.index

RangeIndex(start=0, stop=2, step=1)

In [20]:
temps.columns

Index(['City', 'Temp'], dtype='object')

In [22]:
temps.values

array([['Missoula', 70],
       ['Philadelphia', 80]], dtype=object)

In [23]:
df_i64=pd.DataFrame(np.arange(10,20),index=np.arange(0,10))

In [24]:
df_i64

    0
0  10
1  11
2  12
3  13
4  14
5  15
6  16
7  17
8  18
9  19

In [25]:
df_range=pd.DataFrame(np.arange(10))

In [26]:
df_range

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [29]:
df_range=pd.DataFrame(np.arange(10),index=np.arange(0.0,10.0))

In [30]:
df_range

     0
0.0  0
1.0  1
2.0  2
3.0  3
4.0  4
5.0  5
6.0  6
7.0  7
8.0  8
9.0  9

In [31]:
#

In [33]:
df_int=pd.DataFrame({'A':[1,2,3,4]},index=pd.IntervalIndex.from_breaks([0,0.5,1.0,1.5,2.0]))

In [34]:
df_int

            A
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4

In [35]:
#

In [38]:
rng=pd.date_range('5/1/2017',periods=5,freq='H')
rng

DatetimeIndex(['2017-05-01 00:00:00', '2017-05-01 01:00:00',
               '2017-05-01 02:00:00', '2017-05-01 03:00:00',
               '2017-05-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [39]:
rng1=pd.date_range('5/1/2017',periods=5,freq='M')
rng1

DatetimeIndex(['2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30'],
              dtype='datetime64[ns]', freq='M')

In [40]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2017-05-01 00:00:00   -1.281247
2017-05-01 01:00:00   -0.727707
2017-05-01 02:00:00   -0.121306
2017-05-01 03:00:00   -0.097883
2017-05-01 04:00:00    0.695775
Freq: H, dtype: float64

In [41]:
p=np.random.randn(5)

In [42]:
p

array([ 0.34173436,  0.95972559, -1.1103361 , -0.61997592,  0.14974832])

In [43]:
ts.index

DatetimeIndex(['2017-05-01 00:00:00', '2017-05-01 01:00:00',
               '2017-05-01 02:00:00', '2017-05-01 03:00:00',
               '2017-05-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [50]:
periods=pd.PeriodIndex(['2017-1','2017-2','2017-3'],freq='M')
periods

PeriodIndex(['2017-01', '2017-02', '2017-03'], dtype='period[M]', freq='M')

In [51]:
s_period=pd.Series([25000,47899,30989],index=periods)

In [52]:
s_period

2017-01    25000
2017-02    47899
2017-03    30989
Freq: M, dtype: int64

In [60]:
s=pd.Series([2,4,6],index=periods)

In [58]:
s

2017-01    2
2017-02    4
2017-03    6
Freq: M, dtype: int64

In [61]:
#

In [62]:
df.head()

          foo
key
100  0.126970
101  0.966718
102  0.260476
103  0.897237
104  0.376750

In [65]:
df.loc[100]

foo    0.12697
Name: 100, dtype: float64

In [66]:
s1=pd.Series([100,200,300])

In [67]:
s1

0    100
1    200
2    300
dtype: int64

In [68]:
s1[2]

300

In [69]:
s1.loc[0]

100

In [70]:
df.head(2)

          foo
key
100  0.126970
101  0.966718

In [71]:
df['foo']

key
100    0.126970
101    0.966718
102    0.260476
103    0.897237
104    0.376750
         ...
195    0.029887
196    0.207901
197    0.630799
198    0.657298
199    0.249316
Name: foo, Length: 100, dtype: float64

In [74]:
df.loc[:104]

          foo
key
100  0.126970
101  0.966718
102  0.260476
103  0.897237
104  0.376750