In [3]:
import pandas as pd
fortune=pd.read_csv('fortune1000.csv',index_col='Rank')
sector=fortune.groupby('Sector')

In [5]:
fortune.head(5)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [6]:
sector

In [7]:
sector.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [8]:
len(sector)

21

In [11]:
type(sector)

pandas.core.groupby.generic.DataFrameGroupBy

In [18]:
for name,group in sector:
    
    print(group['Sector'])

Rank
24     Aerospace & Defense
45     Aerospace & Defense
60     Aerospace & Defense
88     Aerospace & Defense
118    Aerospace & Defense
120    Aerospace & Defense
209    Aerospace & Defense
245    Aerospace & Defense
282    Aerospace & Defense
378    Aerospace & Defense
389    Aerospace & Defense
490    Aerospace & Defense
560    Aerospace & Defense
605    Aerospace & Defense
785    Aerospace & Defense
788    Aerospace & Defense
836    Aerospace & Defense
903    Aerospace & Defense
958    Aerospace & Defense
987    Aerospace & Defense
Name: Sector, dtype: object
Rank
91     Apparel
231    Apparel
340    Apparel
354    Apparel
448    Apparel
547    Apparel
575    Apparel
597    Apparel
683    Apparel
695    Apparel
726    Apparel
794    Apparel
877    Apparel
882    Apparel
917    Apparel
Name: Sector, dtype: object
Rank
144    Business Services
186    Business Services
199    Business Services
204    Business Services
221    Business Services
248    Business Services
249    Business Services
294    Business Services
307    Business Services
312    Business Services
355    Business Services
392    Business Services
404    Business Services
440    Business Services
467    Business Services
468    Business Services
481    Business Services
485    Business Services
492    Business Services
503    Business Services
545    Business Services
626    Business Services
635    Business Services
652    Business Services
677    Business Services
694    Business Services
714    Business Services
729    Business Services
734    Business Services
735    Business Services
737    Business Services
744    Business Services
767    Business Services
776    Business Services
777    Business Services
783    Business Services
791    Business Services
792    Business Services
796    Business Services
801    Business Services
803    Business Services
816    Business Services
819    Business Services
820    Business Services
869    Business Services
870    Business Services
886    Business Services
939    Business Services
951    Business Services
952    Business Services
993    Business Services
Name: Sector, dtype: object
Rank
56     Chemicals
101    Chemicals
182    Chemicals
189    Chemicals
206    Chemicals
253    Chemicals
262    Chemicals
277    Chemicals
288    Chemicals
296    Chemicals
316    Chemicals
538    Chemicals
549    Chemicals
555    Chemicals
566    Chemicals
580    Chemicals
613    Chemicals
624    Chemicals
654    Chemicals
668    Chemicals
717    Chemicals
720    Chemicals
724    Chemicals
758    Chemicals
761    Chemicals
829    Chemicals
865    Chemicals
898    Chemicals
934    Chemicals
949    Chemicals
Name: Sector, dtype: object
Rank
2      Energy
14     Energy
30     Energy
32     Energy
42     Energy
        ...
981    Energy
983    Energy
995    Energy
997    Energy
997    Energy
Name: Sector, Length: 122, dtype: object
Rank
155    Engineering & Construction
156    Engineering & Construction
235    Engineering & Construction
260    Engineering & Construction
301    Engineering & Construction
314    Engineering & Construction
352    Engineering & Construction
381    Engineering & Construction
433    Engineering & Construction
478    Engineering & Construction
498    Engineering & Construction
501    Engineering & Construction
516    Engineering & Construction
572    Engineering & Construction
576    Engineering & Construction
640    Engineering & Construction
719    Engineering & Construction
738    Engineering & Construction
822    Engineering & Construction
863    Engineering & Construction
874    Engineering & Construction
892    Engineering & Construction
929    Engineering & Construction
963    Engineering & Construction
985    Engineering & Construction
994    Engineering & Construction
Name: Sector, dtype: object
Rank
4      Financials
16     Financials
23     Financials
26     Financials
27     Financials
          ...
938    Financials
959    Financials
976    Financials
988    Financials
996    Financials
Name: Sector, Length: 139, dtype: object
Rank
7      Food and Drug Stores
17     Food and Drug Stores
19     Food and Drug Stores
87     Food and Drug Stores
107    Food and Drug Stores
160    Food and Drug Stores
181    Food and Drug Stores
595    Food and Drug Stores
614    Food and Drug Stores
631    Food and Drug Stores
669    Food and Drug Stores
756    Food and Drug Stores
809    Food and Drug Stores
849    Food and Drug Stores
928    Food and Drug Stores
Name: Sector, dtype: object
Rank
41     Food, Beverages & Tobacco
44     Food, Beverages & Tobacco
62     Food, Beverages & Tobacco
66     Food, Beverages & Tobacco
84     Food, Beverages & Tobacco
94     Food, Beverages & Tobacco
106    Food, Beverages & Tobacco
149    Food, Beverages & Tobacco
153    Food, Beverages & Tobacco
161    Food, Beverages & Tobacco
176    Food, Beverages & Tobacco
207    Food, Beverages & Tobacco
215    Food, Beverages & Tobacco
242    Food, Beverages & Tobacco
266    Food, Beverages & Tobacco
304    Food, Beverages & Tobacco
336    Food, Beverages & Tobacco
337    Food, Beverages & Tobacco
362    Food, Beverages & Tobacco
397    Food, Beverages & Tobacco
413    Food, Beverages & Tobacco
429    Food, Beverages & Tobacco
452    Food, Beverages & Tobacco
456    Food, Beverages & Tobacco
460    Food, Beverages & Tobacco
535    Food, Beverages & Tobacco
542    Food, Beverages & Tobacco
567    Food, Beverages & Tobacco
574    Food, Beverages & Tobacco
587    Food, Beverages & Tobacco
608    Food, Beverages & Tobacco
615    Food, Beverages & Tobacco
636    Food, Beverages & Tobacco
664    Food, Beverages & Tobacco
686    Food, Beverages & Tobacco
702    Food, Beverages & Tobacco
770    Food, Beverages & Tobacco
787    Food, Beverages & Tobacco
795    Food, Beverages & Tobacco
804    Food, Beverages & Tobacco
889    Food, Beverages & Tobacco
902    Food, Beverages & Tobacco
954    Food, Beverages & Tobacco
Name: Sector, dtype: object
Rank
5      Health Care
6      Health Care
12     Health Care
21     Health Care
22     Health Care
          ...
935    Health Care
960    Health Care
965    Health Care
977    Health Care
978    Health Care
Name: Sector, Length: 75, dtype: object
Rank
109    Hotels, Resturants & Leisure
146    Hotels, Resturants & Leisure
195    Hotels, Resturants & Leisure
218    Hotels, Resturants & Leisure
241    Hotels, Resturants & Leisure
254    Hotels, Resturants & Leisure
309    Hotels, Resturants & Leisure
371    Hotels, Resturants & Leisure
444    Hotels, Resturants & Leisure
466    Hotels, Resturants & Leisure
534    Hotels, Resturants & Leisure
546    Hotels, Resturants & Leisure
557    Hotels, Resturants & Leisure
562    Hotels, Resturants & Leisure
585    Hotels, Resturants & Leisure
731    Hotels, Resturants & Leisure
763    Hotels, Resturants & Leisure
764    Hotels, Resturants & Leisure
779    Hotels, Resturants & Leisure
797    Hotels, Resturants & Leisure
895    Hotels, Resturants & Leisure
915    Hotels, Resturants & Leisure
918    Hotels, Resturants & Leisure
941    Hotels, Resturants & Leisure
999    Hotels, Resturants & Leisure
Name: Sector, dtype: object
Rank
34     Household Products
151    Household Products
174    Household Products
256    Household Products
261    Household Products
328    Household Products
338    Household Products
345    Household Products
370    Household Products
434    Household Products
441    Household Products
450    Household Products
455    Household Products
533    Household Products
550    Household Products
554    Household Products
601    Household Products
665    Household Products
699    Household Products
716    Household Products
856    Household Products
890    Household Products
900    Household Products
907    Household Products
932    Household Products
950    Household Products
967    Household Products
992    Household Products
Name: Sector, dtype: object
Rank
11      Industrials
59      Industrials
75      Industrials
93      Industrials
97      Industrials
128     Industrials
134     Industrials
148     Industrials
211     Industrials
224     Industrials
360     Industrials
377     Industrials
396     Industrials
412     Industrials
419     Industrials
539     Industrials
544     Industrials
596     Industrials
622     Industrials
623     Industrials
630     Industrials
645     Industrials
655     Industrials
658     Industrials
666     Industrials
674     Industrials
690     Industrials
757     Industrials
782     Industrials
789     Industrials
806     Industrials
813     Industrials
823     Industrials
831     Industrials
832     Industrials
835     Industrials
841     Industrials
847     Industrials
866     Industrials
867     Industrials
873     Industrials
887     Industrials
942     Industrials
947     Industrials
964     Industrials
1000    Industrials
Name: Sector, dtype: object
Rank
126    Materials
127    Materials
170    Materials
244    Materials
251    Materials
303    Materials
321    Materials
341    Materials
356    Materials
373    Materials
375    Materials
383    Materials
417    Materials
418    Materials
426    Materials
435    Materials
446    Materials
480    Materials
489    Materials
514    Materials
518    Materials
577    Materials
586    Materials
616    Materials
617    Materials
620    Materials
625    Materials
628    Materials
637    Materials
639    Materials
641    Materials
660    Materials
667    Materials
687    Materials
691    Materials
751    Materials
774    Materials
793    Materials
857    Materials
885    Materials
911    Materials
982    Materials
986    Materials
Name: Sector, dtype: object
Rank
53     Media
96     Media
99     Media
203    Media
213    Media
255    Media
327    Media
366    Media
406    Media
414    Media
525    Media
530    Media
681    Media
705    Media
707    Media
722    Media
741    Media
752    Media
759    Media
762    Media
821    Media
913    Media
968    Media
969    Media
989    Media
Name: Sector, dtype: object
Rank
8      Motor Vehicles & Parts
9      Motor Vehicles & Parts
70     Motor Vehicles & Parts
147    Motor Vehicles & Parts
154    Motor Vehicles & Parts
169    Motor Vehicles & Parts
281    Motor Vehicles & Parts
310    Motor Vehicles & Parts
334    Motor Vehicles & Parts
339    Motor Vehicles & Parts
424    Motor Vehicles & Parts
428    Motor Vehicles & Parts
470    Motor Vehicles & Parts
588    Motor Vehicles & Parts
591    Motor Vehicles & Parts
604    Motor Vehicles & Parts
647    Motor Vehicles & Parts
670    Motor Vehicles & Parts
718    Motor Vehicles & Parts
739    Motor Vehicles & Parts
811    Motor Vehicles & Parts
957    Motor Vehicles & Parts
961    Motor Vehicles & Parts
979    Motor Vehicles & Parts
Name: Sector, dtype: object
Rank
1      Retailing
15     Retailing
28     Retailing
38     Retailing
47     Retailing
         ...
899    Retailing
922    Retailing
937    Retailing
940    Retailing
973    Retailing
Name: Sector, Length: 80, dtype: object
Rank
3      Technology
18     Technology
20     Technology
25     Technology
31     Technology
          ...
970    Technology
971    Technology
975    Technology
984    Technology
990    Technology
Name: Sector, Length: 102, dtype: object
Rank
10     Telecommunications
13     Telecommunications
37     Telecommunications
116    Telecommunications
159    Telecommunications
187    Telecommunications
292    Telecommunications
333    Telecommunications
399    Telecommunications
443    Telecommunications
461    Telecommunications
496    Telecommunications
526    Telecommunications
619    Telecommunications
786    Telecommunications
Name: Sector, dtype: object
Rank
48     Transportation
58     Transportation
67     Transportation
68     Transportation
80     Transportation
129    Transportation
142    Transportation
208    Transportation
239    Transportation
270    Transportation
353    Transportation
390    Transportation
395    Transportation
405    Transportation
407    Transportation
416    Transportation
432    Transportation
459    Transportation
521    Transportation
528    Transportation
570    Transportation
578    Transportation
642    Transportation
672    Transportation
709    Transportation
713    Transportation
740    Transportation
800    Transportation
814    Transportation
858    Transportation
884    Transportation
930    Transportation
933    Transportation
945    Transportation
972    Transportation
974    Transportation
Name: Sector, dtype: object
Rank
57     Wholesalers
64     Wholesalers
92     Wholesalers
102    Wholesalers
108    Wholesalers
119    Wholesalers
122    Wholesalers
167    Wholesalers
183    Wholesalers
185    Wholesalers
212    Wholesalers
276    Wholesalers
285    Wholesalers
315    Wholesalers
317    Wholesalers
320    Wholesalers
323    Wholesalers
335    Wholesalers
351    Wholesalers
357    Wholesalers
369    Wholesalers
391    Wholesalers
423    Wholesalers
463    Wholesalers
474    Wholesalers
477    Wholesalers
484    Wholesalers
564    Wholesalers
581    Wholesalers
599    Wholesalers
627    Wholesalers
653    Wholesalers
685    Wholesalers
727    Wholesalers
747    Wholesalers
780    Wholesalers
808    Wholesalers
837    Wholesalers
875    Wholesalers
991    Wholesalers
Name: Sector, dtype: object

In [19]:
fortune.head(5)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [33]:
sector.get_group('Apparel')['Profits'].max()

3273

In [32]:
sector.get_group('Apparel')

,Company,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,
91,Nike,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,"Los Angeles, CA",2204,82,13500

In [23]:
sector.first()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [24]:
# Highest employees in each sector

In [34]:
sector['Employees'].max()

Sector
Aerospace & Defense              197200
Apparel                           65300
Business Services                216500
Chemicals                         52000
Energy                            75600
Engineering & Construction        92000
Financials                       331000
Food and Drug Stores             431000
Food, Beverages & Tobacco        263000
Health Care                      203500
Hotels, Resturants & Leisure     505000
Household Products               110000
Industrials                      333000
Materials                         60000
Media                            185000
Motor Vehicles & Parts           215000
Retailing                       2300000
Technology                       411798
Telecommunications               281450
Transportation                   341240
Wholesalers                       78500
Name: Employees, dtype: int64