In [47]:
import pandas as np
fortune=np.read_csv('fortune1000.csv')
fortune.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [48]:
# Find 5 top sectors in terms of their Revenue
sector=fortune.groupby('Sector')
rev_sum=sector['Revenue'].sum()
rev_sum.sort_values(ascending=False).head(5)

Sector
Financials     2217159
Health Care    1614707
Energy         1517809
Retailing      1465076
Technology     1377600
Name: Revenue, dtype: int64

In [49]:
# Find 5 top sectors in terms of their Profits
profit_sum=sector['Profits'].sum()
profit_sum.sort_values(ascending=False).head(5)

Sector
Financials                   260209
Technology                   180473
Health Care                  106114
Food, Beverages & Tobacco     51417
Telecommunications            48637
Name: Profits, dtype: int64

In [50]:
# Find 5 top sectors in terms of their Employees size
emp_size=sector['Employees'].sum()
emp_size.sort_values(ascending=False).head(5)

Sector
Retailing                       6227629
Technology                      3578949
Financials                      3359948
Health Care                     2678289
Hotels, Resturants & Leisure    2484245
Name: Employees, dtype: int64

In [51]:
# Find 5 top sectors in terms of the no of companies
sector_count=sector['Rank'].count()
sector_count.sort_values(ascending=False).head(5)

Sector
Financials     139
Energy         122
Technology     102
Retailing       80
Health Care     75
Name: Rank, dtype: int64

In [52]:
for label,row in sector:
    
    if label=="Energy":
        print(len(row))

122

In [53]:
sector=fortune.groupby('Sector')
sector.get_group("Apparel")

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
90,91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
230,231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
339,340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
353,354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
447,448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
546,547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
574,575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
596,597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
682,683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
694,695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
725,726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
793,794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
876,877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
881,882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
916,917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

In [54]:
sector=fortune.groupby('Sector')
sector.get_group("Apparel").max()

Rank                          917
Company      Wolverine World Wide
Sector                    Apparel
Industry                  Apparel
Location        Winston-Salem, NC
Revenue                     30601
Profits                      3273
Employees                   65300
dtype: object

In [55]:
sector=fortune.groupby('Sector')
sector.get_group("Apparel").min()

Rank                  91
Company         Carter’s
Sector           Apparel
Industry         Apparel
Location     Atlanta, GA
Revenue             2204
Profits               82
Employees           5978
dtype: object

In [56]:
sector=fortune.groupby('Sector')
sector.get_group("Apparel")['Profits']

90     3273
230    1232
339     572
353     702
447     429
546     209
574     402
596     233
682     221
694     232
725     238
793     123
876     114
881     174
916      82
Name: Profits, dtype: int64

In [57]:
# Get maximum profit of the apparel group
sector=fortune.groupby('Sector')
apparel=sector.get_group("Apparel")['Profits']
apparel.max()

3273

In [58]:
# Get minimum profit of the apparel group
sector=fortune.groupby('Sector')
apparel=sector.get_group("Apparel")['Profits']
apparel.min()

82

In [59]:
fortune.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [60]:
# Data Camp Practice

In [62]:
fortune.groupby('Sector')['Profits'].mean()

Sector
Aerospace & Defense             1437.100000
Apparel                          549.066667
Business Services                553.470588
Chemicals                        754.266667
Energy                          -602.024590
Engineering & Construction       204.000000
Financials                      1872.007194
Food and Drug Stores            1117.266667
Food, Beverages & Tobacco       1195.744186
Health Care                     1414.853333
Hotels, Resturants & Leisure     827.880000
Household Products               515.285714
Industrials                      451.391304
Materials                        102.976744
Media                            973.880000
Motor Vehicles & Parts          1079.083333
Retailing                        597.875000
Technology                      1769.343137
Telecommunications              3242.466667
Transportation                  1226.916667
Wholesalers                      205.825000
Name: Profits, dtype: float64

In [63]:
fortune.groupby('Sector')['Profits'].agg([max,min,sum])

                                max    min     sum
Sector
Aerospace & Defense            7608   -240   28742
Apparel                        3273     82    8236
Business Services              6328  -1481   28227
Chemicals                      7685   -816   22628
Energy                        16150 -23119  -73447
Engineering & Construction      803   -155    5304
Financials                    24442  -1194  260209
Food and Drug Stores           5237    -62   16759
Food, Beverages & Tobacco      7351   -253   51417
Health Care                   18108   -458  106114
Hotels, Resturants & Leisure   5920  -1394   20697
Household Products             7036  -1149   14428
Industrials                    4833  -6126   20764
Materials                       991  -1642    4428
Media                          8382   -881   24347
Motor Vehicles & Parts         9687   -889   25898
Retailing                     14694  -1243   47830
Technology                    53394  -4359  180473
Telecommunications            17879   -271   48637
Transportation                 7610   -191   44169
Wholesalers                    1472   -502    8233

In [65]:
fortune.groupby(['Sector','Industry'])['Profits'].mean()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            1437.100000
Apparel              Apparel                                           549.066667
Business Services    Advertising, marketing                            774.500000
                     Diversified Outsourcing Services                  307.500000
                     Education                                          23.000000
                                                                         ...
Transportation       Trucking, Truck Leasing                           212.222222
Wholesalers          Miscellaneous                                      17.000000
                     Wholesalers: Diversified                          207.720000
                     Wholesalers: Electronics and Office Equipment     232.125000
                     Wholesalers: Food and Grocery                     194.333333
Name: Profits, Length: 79, dtype: float64

In [66]:
fortune.groupby(['Sector','Industry'])['Profits'].agg([max,min,sum])

                                                                    max  min  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                          7608 -240
Apparel             Apparel                                        3273   82
Business Services   Advertising, marketing                         1094  455
                    Diversified Outsourcing Services               1453  -12
                    Education                                       140 -101
...                                                                 ...  ...
Transportation      Trucking, Truck Leasing                         427    1
Wholesalers         Miscellaneous                                    17   17
                    Wholesalers: Diversified                       1472 -502
                    Wholesalers: Electronics and Office Equipment   572  -44
                    Wholesalers: Food and Grocery                   687   52

                                                                     sum
Sector              Industry
Aerospace & Defense Aerospace and Defense                          28742
Apparel             Apparel                                         8236
Business Services   Advertising, marketing                          1549
                    Diversified Outsourcing Services                4305
                    Education                                         69
...                                                                  ...
Transportation      Trucking, Truck Leasing                         1910
Wholesalers         Miscellaneous                                     17
                    Wholesalers: Diversified                        5193
                    Wholesalers: Electronics and Office Equipment   1857
                    Wholesalers: Food and Grocery                   1166

[79 rows x 3 columns]

In [69]:
fortune.groupby(['Sector','Industry'])['Profits','Revenue'].agg([max,min,sum])

C:\Users\soheb\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                                                  Profits  \
                                                                      max
Sector              Industry
Aerospace & Defense Aerospace and Defense                            7608
Apparel             Apparel                                          3273
Business Services   Advertising, marketing                           1094
                    Diversified Outsourcing Services                 1453
                    Education                                         140
...                                                                   ...
Transportation      Trucking, Truck Leasing                           427
Wholesalers         Miscellaneous                                      17
                    Wholesalers: Diversified                         1472
                    Wholesalers: Electronics and Office Equipment     572
                    Wholesalers: Food and Grocery                     687

                                                                               \
                                                                   min    sum
Sector              Industry
Aerospace & Defense Aerospace and Defense                         -240  28742
Apparel             Apparel                                         82   8236
Business Services   Advertising, marketing                         455   1549
                    Diversified Outsourcing Services               -12   4305
                    Education                                     -101     69
...                                                                ...    ...
Transportation      Trucking, Truck Leasing                          1   1910
Wholesalers         Miscellaneous                                   17     17
                    Wholesalers: Diversified                      -502   5193
                    Wholesalers: Electronics and Office Equipment  -44   1857
                    Wholesalers: Food and Grocery                   52   1166

                                                                  Revenue  \
                                                                      max
Sector              Industry
Aerospace & Defense Aerospace and Defense                           96114
Apparel             Apparel                                         30601
Business Services   Advertising, marketing                          15134
                    Diversified Outsourcing Services                14329
                    Education                                        2984
...                                                                   ...
Transportation      Trucking, Truck Leasing                          6572
Wholesalers         Miscellaneous                                    8982
                    Wholesalers: Diversified                        30380
                    Wholesalers: Electronics and Office Equipment   43026
                    Wholesalers: Food and Grocery                   48681

                                                                         \
                                                                    min
Sector              Industry
Aerospace & Defense Aerospace and Defense                          1923
Apparel             Apparel                                        2204
Business Services   Advertising, marketing                         7614
                    Diversified Outsourcing Services               2383
                    Education                                      1910
...                                                                 ...
Transportation      Trucking, Truck Leasing                        2094
Wholesalers         Miscellaneous                                  8982
                    Wholesalers: Diversified                       1917
                    Wholesalers: Electronics and Office Equipment  3219
                    Wholesalers: Food and Grocery                  7652


                                                                      sum
Sector              Industry
Aerospace & Defense Aerospace and Defense                          357940
Apparel             Apparel                                         95968
Business Services   Advertising, marketing                          22748
                    Diversified Outsourcing Services                64829
                    Education                                        7485
...                                                                   ...
Transportation      Trucking, Truck Leasing                         35950
Wholesalers         Miscellaneous                                    8982
                    Wholesalers: Diversified                       176138
                    Wholesalers: Electronics and Office Equipment  147906
                    Wholesalers: Food and Grocery                  111774

[79 rows x 6 columns]