<a href="https://colab.research.google.com/github/SuperDataWorld/Python/blob/main/Pipe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports and EDA

In [1]:
import pandas as pd

In [3]:

df = pd.read_csv('loan.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
df.head(12)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y

In [6]:
df['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [7]:
cols = df.columns

In [8]:
cols

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

## Clean Up Functions

In [8]:
# 1. Drop Rows with Null Columns
def drop_nulls(df, cols):
  df.dropna(subset = cols, inplace=True)
  return df

# 2. Fill Null Columns with Av Values 
def fill_vals(df, cols):
 for i in cols:
   av = df[i].mean()
   df[i].fillna(av, inplace = True)
 return df

# 3. Replace Strings with numbers and convert type
def replace_strings(df, cols):
  for i in cols:
    df[i].replace('3+',4, inplace = True)
    df[i] = pd.to_numeric(df[i])
  return df

# Lists and Pipe

In [9]:
null_cols = ['Gender','Married','Dependents','Credit_History','Self_Employed','Loan_Amount_Term']
av_cols = ['LoanAmount']
rp_cols = ['Dependents']


df = df.pipe(drop_nulls, null_cols).pipe(fill_vals,av_cols).pipe(replace_strings, rp_cols)

## Output

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 499 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            499 non-null    object
 1   Gender             499 non-null    object
 2   Married            499 non-null    object
 3   Dependents         499 non-null    int64
 4   Education          499 non-null    object
 5   Self_Employed      499 non-null    object
 6   ApplicantIncome    499 non-null    int64
 7   CoapplicantIncome  499 non-null    float64
 8   LoanAmount         499 non-null    float64
 9   Loan_Amount_Term   499 non-null    float64
 10  Credit_History     499 non-null    float64
 11  Property_Area      499 non-null    object
 12  Loan_Status        499 non-null    object
dtypes: float64(4), int64(2), object(7)
memory usage: 54.6+ KB

In [11]:
df.head(12)
# Row 0 NaN in Loan Amount
# Row 7 # 3+ in Dependents
# Row 11 NaN in self employed

     Loan_ID Gender Married  ...  Credit_History Property_Area Loan_Status
0   LP001002   Male      No  ...             1.0         Urban           Y
1   LP001003   Male     Yes  ...             1.0         Rural           N
2   LP001005   Male     Yes  ...             1.0         Urban           Y
3   LP001006   Male     Yes  ...             1.0         Urban           Y
4   LP001008   Male      No  ...             1.0         Urban           Y
5   LP001011   Male     Yes  ...             1.0         Urban           Y
6   LP001013   Male     Yes  ...             1.0         Urban           Y
7   LP001014   Male     Yes  ...             0.0     Semiurban           N
8   LP001018   Male     Yes  ...             1.0         Urban           Y
9   LP001020   Male     Yes  ...             1.0     Semiurban           N
10  LP001024   Male     Yes  ...             1.0         Urban           Y
12  LP001028   Male     Yes  ...             1.0         Urban           Y

[12 rows x 13 columns]