In [2]:
import pandas as pd
df=pd.read_csv('cancer_test_data.csv')

In [3]:
df.head()

   patient_id test_result  has_cancer
0       79452    Negative       False
1       81667    Positive        True
2       76297    Negative       False
3       36593    Negative       False
4       53717    Negative       False

In [11]:
df.shape[0]

2914

In [16]:
df.query('test_result=="Positive" and has_cancer==True').shape[0]/df.query('test_result=="Positive"').shape[0]

0.34282178217821785

In [17]:
df.query('test_result=="Positive" and has_cancer==False').shape[0]/df.query('test_result=="Positive"').shape[0]

0.6571782178217822

In [18]:
df.query('test_result=="Negative" and has_cancer==True').shape[0]/df.query('test_result=="Negative"').shape[0]

0.013770180436847104

In [19]:
df.query('test_result=="Negative" and has_cancer==False').shape[0]/df.query('test_result=="Negative"').shape[0]

0.9862298195631529

In [20]:
#####

In [21]:
df.head(3)

   patient_id test_result  has_cancer
0       79452    Negative       False
1       81667    Positive        True
2       76297    Negative       False

In [24]:
df['test_result'].value_counts(normalize=True)

Negative    0.722718
Positive    0.277282
Name: test_result, dtype: float64

In [25]:
df['has_cancer'].value_counts(normalize=True)

False    0.89499
True     0.10501
Name: has_cancer, dtype: float64

In [32]:
# Creating false positive,True Negative

In [27]:
df.head(3)

   patient_id test_result  has_cancer
0       79452    Negative       False
1       81667    Positive        True
2       76297    Negative       False

In [29]:
filt=(df['has_cancer']==False) & (df['test_result']=='Positive')
df[filt]

      patient_id test_result  has_cancer
10         66393    Positive       False
13         56940    Positive       False
26         32825    Positive       False
32         81174    Positive       False
34         62481    Positive       False
...          ...         ...         ...
2902       57527    Positive       False
2903       72709    Positive       False
2904       74064    Positive       False
2912       61290    Positive       False
2913       75721    Positive       False

[531 rows x 3 columns]

In [33]:
filt=(df['has_cancer']==True) & (df['test_result']=='Negative')
df[filt].head()

     patient_id test_result  has_cancer
82        69526    Negative        True
163       61222    Negative        True
201       34671    Negative        True
215       68812    Negative        True
342       78321    Negative        True

In [34]:
df.head()

   patient_id test_result  has_cancer
0       79452    Negative       False
1       81667    Positive        True
2       76297    Negative       False
3       36593    Negative       False
4       53717    Negative       False

In [36]:
filt=(df['has_cancer']==False) & (df['test_result']=='Negative')
df[filt]

      patient_id test_result  has_cancer
0          79452    Negative       False
2          76297    Negative       False
3          36593    Negative       False
4          53717    Negative       False
5          67134    Negative       False
...          ...         ...         ...
2907       45242    Negative       False
2908       41566    Negative       False
2909       39378    Negative       False
2910       58684    Negative       False
2911       64038    Negative       False

[2077 rows x 3 columns]

In [38]:
filt=(df['has_cancer']==True) & (df['test_result']=='Positive')
df[filt]

      patient_id test_result  has_cancer
1          81667    Positive        True
7          77872    Positive        True
8          78761    Positive        True
15         56175    Positive        True
33         43950    Positive        True
...          ...         ...         ...
2864       53991    Positive        True
2871       73979    Positive        True
2878       47914    Positive        True
2887       64791    Positive        True
2889       53368    Positive        True

[277 rows x 3 columns]

In [39]:
df.head(3)

   patient_id test_result  has_cancer
0       79452    Negative       False
1       81667    Positive        True
2       76297    Negative       False

In [40]:
v_c_result=df['test_result'].value_counts()

In [41]:
v_c_result

Negative    2106
Positive     808
Name: test_result, dtype: int64

In [42]:
df_result=pd.DataFrame(v_c_result)

In [43]:
df_result

          test_result
Negative         2106
Positive          808

In [44]:
v_c_hascancer=df['has_cancer'].value_counts()

In [45]:
df_cancer=pd.DataFrame(v_c_hascancer)

In [46]:
df_cancer

       has_cancer
False        2608
True          306

In [47]:
df_cancer['has_cancer'].sum()

2914

In [50]:
(df_cancer.loc[True]/df_cancer['has_cancer'].sum())*100

has_cancer    10.50103
Name: True, dtype: float64

In [51]:
df.head(3)

   patient_id test_result  has_cancer
0       79452    Negative       False
1       81667    Positive        True
2       76297    Negative       False