In [19]:
import pandas as pd
import numpy as np
import re
df_archive=pd.read_csv('twitter-archive-enhanced.csv')

In [20]:
df_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

## Cleaning Twitter Archived Enhanced table

In [21]:
df_archive_clean=df_archive.copy()

In [22]:
# Converting tweet_id datatype from int to string
df_archive_clean['tweet_id']=df_archive_clean['tweet_id'].astype('object')

In [23]:
# Converting timestamp datatype from string to datetime

df_archive_clean['timestamp']=df_archive_clean['timestamp'].astype('datetime64[ns]')

In [24]:
# Converting retweeted_status_timestamp datatype from string to datetime

df_archive_clean['retweeted_status_timestamp']=df_archive_clean['retweeted_status_timestamp'].astype('datetime64[ns]')

In [25]:
# We will delete the rows having dog name as 'a'

In [26]:
df_archive_clean[df_archive_clean['name']=='a']

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
56,881536004380872706,NaN,NaN,2017-07-02 15:32:16,"<a href=""http://twitter.com/download/iphone"" r...",Here is a pupper approaching maximum borkdrive...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/881536004...,14,10,a,None,None,pupper,None
649,792913359805018113,NaN,NaN,2016-10-31 02:17:31,"<a href=""http://twitter.com/download/iphone"" r...",Here is a perfect example of someone who has t...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/792913359...,13,10,a,None,None,None,None
801,772581559778025472,NaN,NaN,2016-09-04 23:46:12,"<a href=""http://twitter.com/download/iphone"" r...",Guys this is getting so out of hand. We only r...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/772581559...,10,10,a,None,None,None,None
1002,747885874273214464,NaN,NaN,2016-06-28 20:14:22,"<a href=""http://twitter.com/download/iphone"" r...",This is a mighty rare blue-tailed hammer sherk...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/747885874...,8,10,a,None,None,None,None
1004,747816857231626240,NaN,NaN,2016-06-28 15:40:07,"<a href=""http://twitter.com/download/iphone"" r...",Viewer discretion is advised. This is a terrib...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/747816857...,4,10,a,None,None,None,None
1017,746872823977771008,NaN,NaN,2016-06-26 01:08:52,"<a href=""http://twitter.com/download/iphone"" r...",This is a carrot. We only rate dogs. Please on...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/746872823...,11,10,a,None,None,None,None
1049,743222593470234624,NaN,NaN,2016-06-15 23:24:09,"<a href=""http://twitter.com/download/iphone"" r...",This is a very rare Great Alaskan Bush Pupper....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/743222593...,12,10,a,None,None,pupper,None
1193,717537687239008257,NaN,NaN,2016-04-06 02:21:30,"<a href=""http://twitter.com/download/iphone"" r...",People please. This is a Deadly Mediterranean ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/717537687...,11,10,a,None,None,None,None
1207,715733265223708672,NaN,NaN,2016-04-01 02:51:22,"<a href=""http://twitter.com/download/iphone"" r...",This is a taco. We only rate dogs. Please only...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/715733265...,10,10,a,None,None,None,None
1340,704859558691414016,NaN,NaN,2016-03-02 02:43:09,"<a href=""http://twitter.com/download/iphone"" r...",Here is a heartbreaking scene of an incredible...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/704859558...,10,10,a,None,None,pupper,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
1361,703079050210877440,NaN,NaN,2016-02-26 04:48:02,"<a href=""http://twitter.com/download/iphone"" r...",This is a Butternut Cumberfloof. It's not wind...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/703079050...,11,10,a,None,None,None,None
1368,702539513671897089,NaN,NaN,2016-02-24 17:04:07,"<a href=""http://twitter.com/download/iphone"" r...",This is a Wild Tuscan Poofwiggle. Careful not ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/702539513...,12,10,a,None,None,None,None
1382,700864154249383937,NaN,NaN,2016-02-20 02:06:50,"<a href=""http://twitter.com/download/iphone"" r...","""Pupper is a present to world. Here is a bow f...",NaN,NaN,NaT,https://twitter.com/dog_rates/status/700864154...,12,10,a,None,None,pupper,None
1499,692187005137076224,NaN,NaN,2016-01-27 03:26:56,"<a href=""http://twitter.com/download/iphone"" r...",This is a rare Arctic Wubberfloof. Unamused by...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/692187005...,12,10,a,None,None,None,None
1737,679530280114372609,NaN,NaN,2015-12-23 05:13:38,"<a href=""http://twitter.com/download/iphone"" r...",Guys this really needs to stop. We've been ove...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/679530280...,7,10,a,None,None,None,None
1785,677644091929329666,NaN,NaN,2015-12-18 00:18:36,"<a href=""http://twitter.com/download/iphone"" r...",This is a dog swinging. I really enjoyed it so...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/677644091...,11,10,a,None,None,None,None
1853,675706639471788032,NaN,NaN,2015-12-12 15:59:51,"<a href=""http://twitter.com/download/iphone"" r...",This is a Sizzlin Menorah spaniel from Brookly...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/675706639...,10,10,a,None,None,None,None
1854,675534494439489536,NaN,NaN,2015-12-12 04:35:48,"<a href=""http://twitter.com/download/iphone"" r...",Seriously guys?! Only send in dogs. I only rat...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/675534494...,11,10,a,None,None,None,None
1877,675109292475830276,NaN,NaN,2015-12-11 00:26:12,"<a href=""http://twitter.com/download/iphone"" r...",C'mon guys. We've been over this. We only rate...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/675109292...,9,10,a,None,None,None,None
1878,675047298674663426,NaN,NaN,2015-12-10 20:19:52,"<a href=""http://twitter.com/download/iphone"" r...",This is a fluffy albino Bacardi Columbia mix. ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/675047298...,11,10,a,None,None,None,None
1923,674082852460433408,NaN,NaN,2015-12-08 04:27:30,"<a href=""http://twitter.com/download/iphone"" r...",This is a Sagitariot Baklava mix. Loves her ne...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/674082852...,11,10,a,None,None,None,None
1941,673715861853720576,NaN,NaN,2015-12-07 04:09:13,"<a href=""http://twitter.com/download/iphone"" r...",This is a heavily opinionated dog. Loves walls...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/673715861...,4,10,a,None,None,None,None
1955,673636718965334016,NaN,NaN,2015-12-06 22:54:44,"<a href=""http://twitter.com/download/iphone"" r...",This is a Lofted Aphrodisiac Terrier named Kip...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/673636718...,10,10,a,None,None,None,None
1994,672604026190569472,NaN,NaN,2015-12-04 02:31:10,"<a href=""http://twitter.com/download/iphone"" r...",This is a baby Rand Paul. Curls for days. 11/1...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/672604026...,11,10,a,None,None,None,None
2034,671743150407421952,NaN,NaN,2015-12-01 17:30:22,"<a href=""http://twitter.com/download/iphone"" r...",This is a Tuscaloosa Alcatraz named Jacob (Yac...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/671743150...,11,10,a,None,None,None,None
2066,671147085991960577,NaN,NaN,2015-11-30 02:01:49,"<a href=""http://twitter.com/download/iphone"" r...",This is a Helvetica Listerine named Rufus. Thi...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/671147085...,9,10,a,None,None,None,None
2116,670427002554466305,NaN,NaN,2015-11-28 02:20:27,"<a href=""http://twitter.com/download/iphone"" r...",This is a Deciduous Trimester mix named Spork....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/670427002...,9,10,a,None,None,None,None
2125,670361874861563904,NaN,NaN,2015-11-27 22:01:40,"<a href=""http://twitter.com/download/iphone"" r...",This is a Rich Mahogany Seltzer named Cherokee...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/670361874...,9,10,a,None,None,None,None
2128,670303360680108032,NaN,NaN,2015-11-27 18:09:09,"<a href=""http://twitter.com/download/iphone"" r...",This is a Speckled Cauliflower Yosemite named ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/670303360...,9,10,a,None,None,None,None
2146,669923323644657664,NaN,NaN,2015-11-26 16:59:01,"<a href=""http://twitter.com/download/iphone"" r...",This is a spotted Lipitor Rumpelstiltskin name...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/669923323...,10,10,a,None,None,None,None
2153,669661792646373376,NaN,NaN,2015-11-25 23:39:47,"<a href=""http://twitter.com/download/iphone"" r...",This is a brave dog. Excellent free climber. T...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/669661792...,5,10,a,None,None,None,None
2161,669564461267722241,NaN,NaN,2015-11-25 17:13:02,"<a href=""http://twitter.com/download/iphone"" r...",This is a Coriander Baton Rouge named Alfredo....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/669564461...,10,10,a,None,None,None,None
2191,668955713004314625,NaN,NaN,2015-11-24 00:54:05,"<a href=""http://twitter.com/download/iphone"" r...",This is a Slovakian Helter Skelter Feta named ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/668955713...,10,10,a,None,None,None,None
2198,668815180734689280,NaN,NaN,2015-11-23 15:35:39,"<a href=""http://twitter.com/download/iphone"" r...",This is a wild Toblerone from Papua New Guinea...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/668815180...,7,10,a,None,None,None,None
2211,668614819948453888,NaN,NaN,2015-11-23 02:19:29,"<a href=""http://twitter.com/download/iphone"" r...",Here is a horned dog. Much grace. Can jump ove...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/668614819...,7,10,a,None,None,None,None
2218,668507509523615744,NaN,NaN,2015-11-22 19:13:05,"<a href=""http://twitter.com/download/iphone"" r...",This is a Birmingham Quagmire named Chuk. Love...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/668507509...,10,10,a,None,None,None,None
2222,668466899341221888,NaN,NaN,2015-11-22 16:31:42,"<a href=""http://twitter.com/download/iphone"" r...",Here is a mother dog caring for her pups. Snaz...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/668466899...,4,10,a,None,None,None,None
2235,668171859951755264,NaN,NaN,2015-11-21 20:59:20,"<a href=""http://twitter.com/download/iphone"" r...",This is a Trans Siberian Kellogg named Alfonso...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/668171859...,7,10,a,None,None,None,None
2249,667861340749471744,NaN,NaN,2015-11-21 00:25:26,"<a href=""http://twitter.com/download/iphone"" r...",This is a Shotokon Macadamia mix named Cheryl....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667861340...,9,10,a,None,None,None,None
2255,667773195014021121,NaN,NaN,2015-11-20 18:35:10,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a rare Hungarian Pinot named Jessiga. ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667773195...,8,10,a,None,None,None,None
2264,667538891197542400,NaN,NaN,2015-11-20 03:04:08,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a southwest Coriander named Klint. Hat...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667538891...,9,10,a,None,None,None,None
2273,667470559035432960,NaN,NaN,2015-11-19 22:32:36,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a northern Wahoo named Kohl. He runs t...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667470559...,11,10,a,None,None,None,None
2287,667177989038297088,NaN,NaN,2015-11-19 03:10:02,"<a href=""http://twitter.com/download/iphone"" r...",This is a Dasani Kingfisher from Maine. His na...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667177989...,8,10,a,None,None,None,None
2304,666983947667116034,NaN,NaN,2015-11-18 14:18:59,"<a href=""http://twitter.com/download/iphone"" r...",This is a curly Ticonderoga named Pepe. No fee...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666983947...,11,10,a,None,None,None,None
2311,666781792255496192,NaN,NaN,2015-11-18 00:55:42,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Bacardi named Octaviath. Ca...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666781792...,10,10,a,None,None,None,None
2314,666701168228331520,NaN,NaN,2015-11-17 19:35:19,"<a href=""http://twitter.com/download/iphone"" r...",This is a golden Buckminsterfullerene named Jo...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666701168...,8,10,a,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None

In [27]:
df_archive_clean[df_archive_clean['name']=='a'].shape

(55, 17)

In [28]:
df_names_a=df_archive_clean[df_archive_clean['name']=='a'].index

In [29]:
df_archive_clean.drop(df_names_a,axis=0,inplace=True)

In [30]:
df_archive_clean[df_archive_clean['name']=='a'].shape

(0, 17)

In [31]:
df_archive_clean['name'].value_counts() # dog with name 'a' is deleted

None         745
Charlie       12
Oliver        11
Cooper        11
Lucy          11
            ...
Kathmandu      1
Vinscent       1
Lacy           1
Pubert         1
Eugene         1
Name: name, Length: 956, dtype: int64

In [32]:
# deleting in_reply_to_status_id
del df_archive_clean['in_reply_to_status_id']

In [33]:
df_archive_clean.head(1)

,tweet_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [34]:
# deleting in_reply_to_user_id

del df_archive_clean['in_reply_to_user_id']

In [35]:
df_archive_clean.head()

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [36]:
# segregating retweets in order to delete the non null records
df_archive_clean[df_archive_clean['retweeted_status_id'].isna()==False]

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,888202515573088257,2017-07-21 01:02:36,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
32,886054160059072513,2017-07-15 02:45:48,"<a href=""http://twitter.com/download/iphone"" r...",RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,8.860537e+17,1.960740e+07,2017-07-15 02:44:07,https://twitter.com/dog_rates/status/886053434...,12,10,None,None,None,None,None
36,885311592912609280,2017-07-13 01:35:06,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Lilly. She just paralle...,8.305833e+17,4.196984e+09,2017-02-12 01:04:29,https://twitter.com/dog_rates/status/830583320...,13,10,Lilly,None,None,None,None
68,879130579576475649,2017-06-26 00:13:58,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Emmy. She was adopted t...,8.780576e+17,4.196984e+09,2017-06-23 01:10:23,https://twitter.com/dog_rates/status/878057613...,14,10,Emmy,None,None,None,None
73,878404777348136964,2017-06-24 00:09:53,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Shadow. In an attempt to r...,8.782815e+17,4.196984e+09,2017-06-23 16:00:04,"https://www.gofundme.com/3yd6y1c,https://twitt...",13,10,Shadow,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,746521445350707200,2016-06-25 01:52:36,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Shaggy. He knows exactl...,6.678667e+17,4.196984e+09,2015-11-21 00:46:50,https://twitter.com/dog_rates/status/667866724...,10,10,Shaggy,None,None,None,None
1043,743835915802583040,2016-06-17 16:01:16,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Extremely intelligent dog here....,6.671383e+17,4.196984e+09,2015-11-19 00:32:12,https://twitter.com/dog_rates/status/667138269...,10,10,None,None,None,None,None
1242,711998809858043904,2016-03-21 19:31:59,"<a href=""http://twitter.com/download/iphone"" r...",RT @twitter: @dog_rates Awesome Tweet! 12/10. ...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52,https://twitter.com/twitter/status/71199827977...,12,10,None,None,None,None,None
2259,667550904950915073,2015-11-20 03:51:52,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Exceptional talent. Origi...,6.675487e+17,4.296832e+09,2015-11-20 03:43:06,https://twitter.com/dogratingrating/status/667...,12,10,None,None,None,None,None
2260,667550882905632768,2015-11-20 03:51:47,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59,https://twitter.com/dogratingrating/status/667...,5,10,None,None,None,None,None

In [37]:
df_archive_clean=df_archive_clean[df_archive_clean['retweeted_status_id'].isnull()]

In [38]:
df_archive_clean[df_archive_clean['retweeted_status_id'].isna()==True]

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2345,666063827256086533,2015-11-16 01:22:45,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,2015-11-16 01:01:59,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2349,666051853826850816,2015-11-16 00:35:11,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2351,666049248165822465,2015-11-16 00:24:50,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2355,666020888022790149,2015-11-15 22:32:08,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [39]:
df_archive_clean[df_archive_clean['retweeted_status_id'].isna()==False]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [40]:
# After deleting retweets rows, we dont require retweeted_status_id,retweeted_status_user_id and retweeted_status_timestamp.
# We delete those columns

In [41]:
del df_archive_clean['retweeted_status_id']

In [42]:
del df_archive_clean['retweeted_status_user_id']

In [43]:
del df_archive_clean['retweeted_status_timestamp']

In [44]:
df_archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [45]:
df_archive_clean['name'].value_counts()

None       680
Charlie     11
Lucy        11
Oliver      10
Cooper      10
          ...
Bruiser      1
Clarkus      1
Rolf         1
Bloop        1
Eugene       1
Name: name, Length: 955, dtype: int64

In [46]:
# Removing unnecessary tags in source columns

In [47]:
def remove_tags(str1):
    result=re.compile(r'<.*?>')
    return result.sub('',str1)

In [48]:
# checking the function with a html string
x="<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>"
remove_tags(x)

'Twitter for iPhone'

In [49]:
df_archive_clean['source']=df_archive_clean['source'].apply(lambda x : remove_tags(x))

In [50]:
df_archive_clean.head(20)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,2017-07-29 00:08:17,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,2017-07-28 16:27:12,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,2017-07-28 00:22:40,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,2017-07-27 16:25:51,Twitter for iPhone,This is Zoey. She doesn't want to be one of th...,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,2017-07-26 15:59:51,Twitter for iPhone,This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,2017-07-26 00:31:25,Twitter for iPhone,This is Koda. He is a South Australian decksha...,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,2017-07-25 16:11:53,Twitter for iPhone,This is Bruno. He is a service shark. Only get...,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,2017-07-25 01:55:32,Twitter for iPhone,Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,2017-07-25 00:10:02,Twitter for iPhone,This is Ted. He does his best. Sometimes that'...,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,2017-07-24 17:02:04,Twitter for iPhone,This is Stuart. He's sporting his favorite fan...,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,2017-07-24 00:19:32,Twitter for iPhone,This is Oliver. You're witnessing one of his m...,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,2017-07-23 00:22:39,Twitter for iPhone,This is Jim. He found a fren. Taught him how t...,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,2017-07-22 16:56:37,Twitter for iPhone,This is Zeke. He has a new stick. Very proud o...,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,2017-07-22 00:23:06,Twitter for iPhone,This is Ralphus. He's powering up. Attempting ...,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
20,888078434458587136,2017-07-20 16:49:33,Twitter for iPhone,This is Gerald. He was just told he didn't get...,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None

In [51]:
df_archive_clean['source'].value_counts()

Twitter for iPhone     1990
Vine - Make a Scene      91
Twitter Web Client       28
TweetDeck                11
Name: source, dtype: int64

In [52]:
df_archive_clean[df_archive_clean['expanded_urls'].isna()]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,2017-07-15 16:51:35,Twitter for iPhone,@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,12,10,None,None,None,None,None
55,881633300179243008,2017-07-02 21:58:53,Twitter for iPhone,@roushfenway These are good dogs but 17/10 is ...,NaN,17,10,None,None,None,None,None
64,879674319642796034,2017-06-27 12:14:36,Twitter for iPhone,@RealKentMurphy 14/10 confirmed,NaN,14,10,None,None,None,None,None
113,870726314365509632,2017-06-02 19:38:25,Twitter for iPhone,@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,10,10,None,None,None,None,None
148,863427515083354112,2017-05-13 16:15:35,Twitter for iPhone,@Jack_Septic_Eye I'd need a few more pics to p...,NaN,12,10,None,None,None,None,None
179,857214891891077121,2017-04-26 12:48:51,Twitter for iPhone,@Marc_IRL pixelated af 12/10,NaN,12,10,None,None,None,None,None
186,856288084350160898,2017-04-23 23:26:03,Twitter for iPhone,@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,14,10,None,None,None,None,None
188,855862651834028034,2017-04-22 19:15:32,Twitter for iPhone,@dhmontgomery We also gave snoop dogg a 420/10...,NaN,420,10,None,None,None,None,None
189,855860136149123072,2017-04-22 19:05:32,Twitter for iPhone,@s8n You tried very hard to portray this good ...,NaN,666,10,None,None,None,None,None
218,850333567704068097,2017-04-07 13:04:55,Twitter for iPhone,@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,13,10,None,None,None,None,None
228,848213670039564288,2017-04-01 16:41:12,Twitter for iPhone,Jerry just apuppologized to me. He said there ...,NaN,11,10,None,None,None,None,None
234,847617282490613760,2017-03-31 01:11:22,Twitter for iPhone,.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,13,10,None,None,None,None,None
274,840698636975636481,2017-03-11 22:59:09,Twitter for iPhone,@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,10,10,None,None,None,None,None
290,838150277551247360,2017-03-04 22:12:52,Twitter for iPhone,@markhoppus 182/10,NaN,182,10,None,None,None,None,None
291,838085839343206401,2017-03-04 17:56:49,Twitter for iPhone,@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,15,10,None,None,None,None,None
313,835246439529840640,2017-02-24 21:54:03,Twitter for iPhone,@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,960,0,None,None,None,None,None
342,832088576586297345,2017-02-16 04:45:50,Twitter for iPhone,@docmisterio account started on 11/15/15,NaN,11,15,None,None,None,None,None
346,831926988323639298,2017-02-15 18:03:45,Twitter for iPhone,@UNC can confirm 12/10,NaN,12,10,None,None,None,None,None
375,828361771580813312,2017-02-05 21:56:51,Twitter Web Client,Beebop and Doobert should start a band 12/10 w...,NaN,12,10,None,None,None,None,None
387,826598799820865537,2017-02-01 01:11:25,Twitter for iPhone,"I was going to do 007/10, but the joke wasn't ...",NaN,7,10,None,None,None,None,None
409,823333489516937216,2017-01-23 00:56:15,Twitter for iPhone,@HistoryInPics 13/10,NaN,13,10,None,None,None,None,None
427,821153421864615936,2017-01-17 00:33:26,Twitter for iPhone,@imgur for a polar bear tho I'd say 13/10 is a...,NaN,13,10,None,None,None,None,None
498,813130366689148928,2016-12-25 21:12:41,Twitter for iPhone,I've been informed by multiple sources that th...,NaN,12,10,None,None,None,None,None
513,811647686436880384,2016-12-21 19:01:02,Twitter for iPhone,PUPDATE: I've been informed that Augie was act...,NaN,11,10,None,None,None,None,None
570,801854953262350336,2016-11-24 18:28:13,Twitter for iPhone,.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,NaN,11,10,None,None,None,None,None
576,800859414831898624,2016-11-22 00:32:18,Twitter for iPhone,@SkyWilliams doggo simply protecting you from ...,NaN,11,10,None,doggo,None,None,None
611,797165961484890113,2016-11-11 19:55:50,Twitter for iPhone,@JODYHiGHROLLER it may be an 11/10 but what do...,NaN,11,10,None,None,None,None,None
701,786051337297522688,2016-10-12 03:50:17,Twitter for iPhone,13/10 for breakdancing puppo @shibbnbot,NaN,13,10,None,None,None,None,puppo
707,785515384317313025,2016-10-10 16:20:36,Twitter for iPhone,"Today, 10/10, should be National Dog Rates Day",NaN,10,10,None,None,None,None,None
843,766714921925144576,2016-08-19 19:14:16,Twitter for iPhone,His name is Charley and he already has a new s...,NaN,13,10,None,None,None,None,None
857,763956972077010945,2016-08-12 04:35:10,Twitter for iPhone,@TheEllenShow I'm not sure if you know this bu...,NaN,12,10,None,doggo,None,None,None
967,750381685133418496,2016-07-05 17:31:49,Twitter for iPhone,13/10 such a good doggo\n@spaghemily,NaN,13,10,None,doggo,None,None,None
1005,747651430853525504,2016-06-28 04:42:46,Twitter for iPhone,Other pupper asked not to have his identity sh...,NaN,12,10,None,None,None,pupper,None
1080,738891149612572673,2016-06-04 00:32:32,Twitter for iPhone,@mount_alex3 13/10,NaN,13,10,None,None,None,None,None
1295,707983188426153984,2016-03-10 17:35:20,Twitter for iPhone,@serial @MrRoles OH MY GOD I listened to all o...,NaN,12,10,None,None,None,None,None
1345,704491224099647488,2016-03-01 02:19:31,Twitter for iPhone,13/10 hero af\n@ABC,NaN,13,10,None,None,None,None,None
1445,696518437233913856,2016-02-08 02:18:30,Twitter for iPhone,Oh my god 10/10 for every little hot dog pupper,NaN,10,10,None,None,None,pupper,None
1446,696490539101908992,2016-02-08 00:27:39,Twitter for iPhone,After reading the comments I may have overesti...,NaN,1,10,None,None,None,None,None
1474,693644216740769793,2016-01-31 03:57:23,Twitter for iPhone,BREAKING PUPDATE: I've just been notified that...,NaN,10,10,None,None,None,None,None
1479,693582294167244802,2016-01-30 23:51:19,Twitter for iPhone,Personally I'd give him an 11/10. Not sure why...,NaN,11,10,None,None,None,None,None
1497,692423280028966913,2016-01-27 19:05:49,Twitter for iPhone,PUPDATE: just noticed this dog has some extra ...,NaN,9,10,None,None,None,None,None
1523,690607260360429569,2016-01-22 18:49:36,Twitter for iPhone,12/10 @LightningHoltt,NaN,12,10,None,None,None,None,None
1598,686035780142297088,2016-01-10 04:04:10,Twitter for iPhone,Yes I do realize a rating of 4/20 would've bee...,NaN,4,20,None,None,None,None,None
1605,685681090388975616,2016-01-09 04:34:45,Twitter for iPhone,Jack deserves another round of applause. If yo...,NaN,14,10,None,None,None,None,None
1618,684969860808454144,2016-01-07 05:28:35,Twitter for iPhone,"For those who claim this is a goat, u are wron...",NaN,5,10,None,None,None,None,None
1663,682808988178739200,2016-01-01 06:22:03,Twitter for iPhone,"I'm aware that I could've said 20/16, but here...",NaN,20,16,None,None,None,None,None
1689,681340665377193984,2015-12-28 05:07:27,Twitter for iPhone,I've been told there's a slight possibility he...,NaN,5,10,None,None,None,None,None
1774,678023323247357953,2015-12-19 01:25:31,Twitter for iPhone,After getting lost in Reese's eyes for several...,NaN,13,10,None,None,None,None,None
1819,676590572941893632,2015-12-15 02:32:17,Twitter for iPhone,After some outrage from the crowd. Bubbles is ...,NaN,7,10,None,None,None,None,None
1844,675849018447167488,2015-12-13 01:25:37,Twitter for iPhone,This dog is being demoted to a 9/10 for not we...,NaN,9,10,None,None,None,None,None
1895,674742531037511680,2015-12-10 00:08:50,Twitter for iPhone,Some clarification is required. The dog is sin...,NaN,11,10,None,None,None,None,None
1905,674606911342424069,2015-12-09 15:09:55,Twitter for iPhone,The 13/10 also takes into account this impecca...,NaN,13,10,None,None,None,None,None
1914,674330906434379776,2015-12-08 20:53:11,Twitter for iPhone,13/10\n@ABC7,NaN,13,10,None,None,None,None,None
1940,673716320723169284,2015-12-07 04:11:02,Twitter for iPhone,The millennials have spoken and we've decided ...,NaN,1,10,None,None,None,None,None
2038,671550332464455680,2015-12-01 04:44:10,Twitter for iPhone,After 22 minutes of careful deliberation this ...,NaN,1,10,None,None,None,None,None
2149,669684865554620416,2015-11-26 01:11:28,Twitter for iPhone,After countless hours of research and hundreds...,NaN,11,10,None,None,None,None,None
2189,668967877119254528,2015-11-24 01:42:25,Twitter for iPhone,12/10 good shit Bubka\n@wane15,NaN,12,10,None,None,None,None,None
2298,667070482143944705,2015-11-18 20:02:51,Twitter for iPhone,After much debate this dog is being upgraded t...,NaN,10,10,None,None,None,None,None

In [53]:
# query mentor: name is 'None'
df_archive_clean[df_archive_clean['name']=='None']

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
5,891087950875897856,2017-07-29 00:08:17,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
7,890729181411237888,2017-07-28 00:22:40,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
12,889665388333682689,2017-07-25 01:55:32,Twitter for iPhone,Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
24,887343217045368832,2017-07-18 16:08:03,Twitter for iPhone,You may not have known you needed to see this ...,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,2017-07-18 00:07:08,Twitter for iPhone,This... is a Jubilant Antarctic House Bear. We...,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
2342,666082916733198337,2015-11-16 02:38:37,Twitter for iPhone,Here we have a well-established sunblockerspan...,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,2015-11-16 01:59:36,Twitter for iPhone,Let's hope this flight isn't Malaysian (lol). ...,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,2015-11-16 01:52:02,Twitter for iPhone,Here we have a northern speckled Rhododendron....,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2351,666049248165822465,2015-11-16 00:24:50,Twitter for iPhone,Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2355,666020888022790149,2015-11-15 22:32:08,Twitter for iPhone,Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [54]:
# Replace the None names to NaN

In [55]:
df_archive_clean['name'].replace('None',np.nan,inplace=True)

In [56]:
df_archive_clean[df_archive_clean['name']=='None']

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [57]:
df_archive_clean[df_archive_clean['name']==np.nan] # None is replaced by NaN

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [58]:
df_archive_clean['name'].value_counts()

Lucy       11
Charlie    11
Oliver     10
Cooper     10
Tucker      9
           ..
Meyer       1
Bruiser     1
Clarkus     1
Rolf        1
Eugene      1
Name: name, Length: 954, dtype: int64

In [59]:
# checking out names in lower case

In [60]:
filt=df_archive_clean['name'].str.islower()==True
df_archive_clean[filt]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
22,887517139158093824,2017-07-19 03:39:09,Twitter for iPhone,I've yet to rate a Venezuelan Hover Wiener. Th...,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
169,859196978902773760,2017-05-02 00:04:57,Twitter for iPhone,We only rate dogs. This is quite clearly a smo...,https://twitter.com/dog_rates/status/859196978...,12,10,quite,None,None,None,None
193,855459453768019968,2017-04-21 16:33:22,Twitter for iPhone,"Guys, we only rate dogs. This is quite clearly...",https://twitter.com/dog_rates/status/855459453...,12,10,quite,None,None,None,None
335,832645525019123713,2017-02-17 17:38:57,Twitter Web Client,There's going to be a dog terminal at JFK Airp...,http://us.blastingnews.com/news/2017/02/jfk-an...,10,10,not,None,None,None,None
369,828650029636317184,2017-02-06 17:02:17,Twitter for iPhone,"Occasionally, we're sent fantastic stories. Th...",https://twitter.com/dog_rates/status/828650029...,14,10,one,None,None,None,None
542,806219024703037440,2016-12-06 19:29:28,Twitter for iPhone,We only rate dogs. Please stop sending in non-...,https://twitter.com/dog_rates/status/806219024...,11,10,incredibly,None,None,None,None
819,770655142660169732,2016-08-30 16:11:18,Twitter for iPhone,We only rate dogs. Pls stop sending in non-can...,https://twitter.com/dog_rates/status/770655142...,11,10,very,None,None,None,None
852,765395769549590528,2016-08-16 03:52:26,Twitter for iPhone,This is my dog. Her name is Zoey. She knows I'...,https://twitter.com/dog_rates/status/765395769...,13,10,my,None,None,None,None
924,755206590534418437,2016-07-19 01:04:16,Twitter for iPhone,This is one of the most inspirational stories ...,https://twitter.com/dog_rates/status/755206590...,14,10,one,doggo,None,None,None
988,748977405889503236,2016-07-01 20:31:43,Twitter for iPhone,What jokester sent in a pic without a dog in i...,https://twitter.com/dog_rates/status/748977405...,10,10,not,None,None,None,None
992,748692773788876800,2016-07-01 01:40:41,Twitter for iPhone,That is Quizno. This is his beach. He does not...,https://twitter.com/dog_rates/status/748692773...,10,10,his,doggo,None,None,None
993,748575535303884801,2016-06-30 17:54:50,Twitter for iPhone,This is one of the most reckless puppers I've ...,https://twitter.com/dog_rates/status/748575535...,6,10,one,None,None,None,None
1025,746369468511756288,2016-06-24 15:48:42,Twitter for iPhone,This is an Iraqi Speed Kangaroo. It is not a d...,https://twitter.com/dog_rates/status/746369468...,9,10,an,None,None,None,None
1031,745422732645535745,2016-06-22 01:06:43,Twitter for iPhone,We only rate dogs. Pls stop sending in non-can...,https://twitter.com/dog_rates/status/745422732...,9,10,very,None,None,None,None
1040,744223424764059648,2016-06-18 17:41:06,Twitter for iPhone,This is actually a pupper and I'd pet it so we...,https://twitter.com/strange_animals/status/672...,12,10,actually,None,None,pupper,None
1063,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12,10,just,doggo,None,pupper,None
1071,740214038584557568,2016-06-07 16:09:13,Twitter for iPhone,This is getting incredibly frustrating. This i...,https://twitter.com/dog_rates/status/740214038...,10,10,getting,None,None,None,None
1095,736392552031657984,2016-05-28 03:04:00,Vine - Make a Scene,Say hello to mad pupper. You know what you did...,https://vine.co/v/iEggaEOiLO3,13,10,mad,None,None,pupper,None
1097,736225175608430592,2016-05-27 15:58:54,Twitter for iPhone,We only rate dogs. Please stop sending in non-...,https://twitter.com/dog_rates/status/736225175...,10,10,very,None,None,None,None
1120,731156023742988288,2016-05-13 16:15:54,Twitter for iPhone,Say hello to this unbelievably well behaved sq...,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None
1121,730924654643314689,2016-05-13 00:56:32,Twitter for iPhone,We only rate dogs. Pls stop sending non-canine...,https://twitter.com/dog_rates/status/730924654...,9,10,unacceptable,None,None,None,None
1138,728035342121635841,2016-05-05 01:35:26,Twitter for iPhone,This is all I want in my life. 12/10 for super...,https://twitter.com/dog_rates/status/728035342...,12,10,all,None,None,pupper,None
1206,715758151270801409,2016-04-01 04:30:16,Vine - Make a Scene,This is old now but it's absolutely heckin fan...,https://vine.co/v/hYdLVKDpAFu,13,10,old,None,None,None,None
1259,710272297844797440,2016-03-17 01:11:26,Twitter for iPhone,We only rate dogs. Pls stop sending i...,https://twitter.com/dog_rates/status/710272297...,11,10,infuriating,None,None,None,None
1362,703041949650034688,2016-02-26 02:20:37,Twitter for iPhone,This is an East African Chalupa Seal. We only ...,https://twitter.com/dog_rates/status/703041949...,10,10,an,None,None,None,None
1385,700747788515020802,2016-02-19 18:24:26,Twitter for iPhone,We only rate dogs. Pls stop sending in non-can...,https://twitter.com/dog_rates/status/700747788...,11,10,very,None,None,None,None
1435,697259378236399616,2016-02-10 03:22:44,Twitter for iPhone,Please stop sending in saber-toothed tigers. T...,https://twitter.com/dog_rates/status/697259378...,8,10,getting,None,None,None,None
1457,695095422348574720,2016-02-04 04:03:57,Twitter for iPhone,This is just a beautiful pupper good shit evol...,https://twitter.com/dog_rates/status/695095422...,12,10,just,None,None,pupper,None
1527,690360449368465409,2016-01-22 02:28:52,Twitter for iPhone,Stop sending in lobsters. This is the final wa...,https://twitter.com/dog_rates/status/690360449...,9,10,the,None,None,None,None
1603,685943807276412928,2016-01-09 21:58:42,Twitter for iPhone,This is the newly formed pupper a capella grou...,https://twitter.com/dog_rates/status/685943807...,8,10,the,None,None,pupper,None
1693,681297372102656000,2015-12-28 02:15:26,Twitter for iPhone,This is actually a lion. We only rate dogs. Fo...,https://twitter.com/dog_rates/status/681297372...,12,10,actually,None,None,None,None
1724,680085611152338944,2015-12-24 18:00:19,TweetDeck,This is by far the most coordinated series of ...,https://twitter.com/dog_rates/status/680085611...,12,10,by,None,None,None,None
1747,679111216690831360,2015-12-22 01:28:25,Twitter for iPhone,This is officially the greatest yawn of all ti...,https://twitter.com/dog_rates/status/679111216...,12,10,officially,None,None,None,None
1797,677269281705472000,2015-12-16 23:29:14,Twitter for iPhone,This is the happiest pupper I've ever seen. 10...,https://twitter.com/dog_rates/status/677269281...,10,10,the,None,None,pupper,None
1815,676613908052996102,2015-12-15 04:05:01,Twitter for iPhone,This is the saddest/sweetest/best picture I've...,https://twitter.com/dog_rates/status/676613908...,12,10,the,None,None,None,None
1916,674307341513269249,2015-12-08 19:19:32,Vine - Make a Scene,This is life-changing. 12/10 https://t.co/SroT...,https://vine.co/v/i7nWzrenw5h,12,10,life,None,None,None,None
1936,673956914389192708,2015-12-07 20:07:04,Twitter for iPhone,This is one esteemed pupper. Just graduated co...,https://twitter.com/dog_rates/status/673956914...,10,10,one,None,None,pupper,None
2001,672482722825261057,2015-12-03 18:29:09,Twitter for iPhone,This is light saber pup. Ready to fight off ev...,https://twitter.com/dog_rates/status/672482722...,10,10,light,None,None,None,None
2019,672125275208069120,2015-12-02 18:48:47,Twitter for iPhone,This is just impressive I have nothing else to...,https://twitter.com/dog_rates/status/672125275...,11,10,just,None,None,None,None
2030,671789708968640512,2015-12-01 20:35:22,Twitter for iPhone,This is space pup. He's very confused. Tries t...,https://twitter.com/dog_rates/status/671789708...,13,10,space,None,None,None,None
2037,671561002136281088,2015-12-01 05:26:34,Twitter for iPhone,This is the best thing I've ever seen so sprea...,https://twitter.com/dog_rates/status/671561002...,13,10,the,None,None,None,None
2204,668636665813057536,2015-11-23 03:46:18,Twitter for iPhone,This is an Irish Rigatoni terrier named Berta....,https://twitter.com/dog_rates/status/668636665...,10,10,an,None,None,None,None
2212,668587383441514497,2015-11-23 00:30:28,Vine - Make a Scene,Never forget this vine. You will not stop watc...,https://vine.co/v/ea0OwvPTx9l,13,10,the,None,None,None,None
2326,666411507551481857,2015-11-17 00:24:19,Twitter for iPhone,This is quite the dog. Gets really excited whe...,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2333,666337882303524864,2015-11-16 19:31:45,Twitter for iPhone,This is an extremely rare horned Parthenon. No...,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2335,666287406224695296,2015-11-16 16:11:11,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2345,666063827256086533,2015-11-16 01:22:45,Twitter for iPhone,This is the happiest dog you will ever see. Ve...,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,2015-11-16 01:01:59,Twitter for iPhone,Here is the Rand Paul of retrievers folks! He'...,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2349,666051853826850816,2015-11-16 00:35:11,Twitter for iPhone,This is an odd dog. Hard on the outside but lo...,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None

In [61]:
# Replace these names with NaN

In [62]:
df_archive_clean.loc[filt,'name']=np.nan

In [63]:
# Verifying the NaN replacement

In [64]:
df_archive_clean[filt]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
22,887517139158093824,2017-07-19 03:39:09,Twitter for iPhone,I've yet to rate a Venezuelan Hover Wiener. Th...,https://twitter.com/dog_rates/status/887517139...,14,10,NaN,None,None,None,None
169,859196978902773760,2017-05-02 00:04:57,Twitter for iPhone,We only rate dogs. This is quite clearly a smo...,https://twitter.com/dog_rates/status/859196978...,12,10,NaN,None,None,None,None
193,855459453768019968,2017-04-21 16:33:22,Twitter for iPhone,"Guys, we only rate dogs. This is quite clearly...",https://twitter.com/dog_rates/status/855459453...,12,10,NaN,None,None,None,None
335,832645525019123713,2017-02-17 17:38:57,Twitter Web Client,There's going to be a dog terminal at JFK Airp...,http://us.blastingnews.com/news/2017/02/jfk-an...,10,10,NaN,None,None,None,None
369,828650029636317184,2017-02-06 17:02:17,Twitter for iPhone,"Occasionally, we're sent fantastic stories. Th...",https://twitter.com/dog_rates/status/828650029...,14,10,NaN,None,None,None,None
542,806219024703037440,2016-12-06 19:29:28,Twitter for iPhone,We only rate dogs. Please stop sending in non-...,https://twitter.com/dog_rates/status/806219024...,11,10,NaN,None,None,None,None
819,770655142660169732,2016-08-30 16:11:18,Twitter for iPhone,We only rate dogs. Pls stop sending in non-can...,https://twitter.com/dog_rates/status/770655142...,11,10,NaN,None,None,None,None
852,765395769549590528,2016-08-16 03:52:26,Twitter for iPhone,This is my dog. Her name is Zoey. She knows I'...,https://twitter.com/dog_rates/status/765395769...,13,10,NaN,None,None,None,None
924,755206590534418437,2016-07-19 01:04:16,Twitter for iPhone,This is one of the most inspirational stories ...,https://twitter.com/dog_rates/status/755206590...,14,10,NaN,doggo,None,None,None
988,748977405889503236,2016-07-01 20:31:43,Twitter for iPhone,What jokester sent in a pic without a dog in i...,https://twitter.com/dog_rates/status/748977405...,10,10,NaN,None,None,None,None
992,748692773788876800,2016-07-01 01:40:41,Twitter for iPhone,That is Quizno. This is his beach. He does not...,https://twitter.com/dog_rates/status/748692773...,10,10,NaN,doggo,None,None,None
993,748575535303884801,2016-06-30 17:54:50,Twitter for iPhone,This is one of the most reckless puppers I've ...,https://twitter.com/dog_rates/status/748575535...,6,10,NaN,None,None,None,None
1025,746369468511756288,2016-06-24 15:48:42,Twitter for iPhone,This is an Iraqi Speed Kangaroo. It is not a d...,https://twitter.com/dog_rates/status/746369468...,9,10,NaN,None,None,None,None
1031,745422732645535745,2016-06-22 01:06:43,Twitter for iPhone,We only rate dogs. Pls stop sending in non-can...,https://twitter.com/dog_rates/status/745422732...,9,10,NaN,None,None,None,None
1040,744223424764059648,2016-06-18 17:41:06,Twitter for iPhone,This is actually a pupper and I'd pet it so we...,https://twitter.com/strange_animals/status/672...,12,10,NaN,None,None,pupper,None
1063,741067306818797568,2016-06-10 00:39:48,Twitter for iPhone,This is just downright precious af. 12/10 for ...,https://twitter.com/dog_rates/status/741067306...,12,10,NaN,doggo,None,pupper,None
1071,740214038584557568,2016-06-07 16:09:13,Twitter for iPhone,This is getting incredibly frustrating. This i...,https://twitter.com/dog_rates/status/740214038...,10,10,NaN,None,None,None,None
1095,736392552031657984,2016-05-28 03:04:00,Vine - Make a Scene,Say hello to mad pupper. You know what you did...,https://vine.co/v/iEggaEOiLO3,13,10,NaN,None,None,pupper,None
1097,736225175608430592,2016-05-27 15:58:54,Twitter for iPhone,We only rate dogs. Please stop sending in non-...,https://twitter.com/dog_rates/status/736225175...,10,10,NaN,None,None,None,None
1120,731156023742988288,2016-05-13 16:15:54,Twitter for iPhone,Say hello to this unbelievably well behaved sq...,https://twitter.com/dog_rates/status/731156023...,204,170,NaN,None,None,None,None
1121,730924654643314689,2016-05-13 00:56:32,Twitter for iPhone,We only rate dogs. Pls stop sending non-canine...,https://twitter.com/dog_rates/status/730924654...,9,10,NaN,None,None,None,None
1138,728035342121635841,2016-05-05 01:35:26,Twitter for iPhone,This is all I want in my life. 12/10 for super...,https://twitter.com/dog_rates/status/728035342...,12,10,NaN,None,None,pupper,None
1206,715758151270801409,2016-04-01 04:30:16,Vine - Make a Scene,This is old now but it's absolutely heckin fan...,https://vine.co/v/hYdLVKDpAFu,13,10,NaN,None,None,None,None
1259,710272297844797440,2016-03-17 01:11:26,Twitter for iPhone,We only rate dogs. Pls stop sending i...,https://twitter.com/dog_rates/status/710272297...,11,10,NaN,None,None,None,None
1362,703041949650034688,2016-02-26 02:20:37,Twitter for iPhone,This is an East African Chalupa Seal. We only ...,https://twitter.com/dog_rates/status/703041949...,10,10,NaN,None,None,None,None
1385,700747788515020802,2016-02-19 18:24:26,Twitter for iPhone,We only rate dogs. Pls stop sending in non-can...,https://twitter.com/dog_rates/status/700747788...,11,10,NaN,None,None,None,None
1435,697259378236399616,2016-02-10 03:22:44,Twitter for iPhone,Please stop sending in saber-toothed tigers. T...,https://twitter.com/dog_rates/status/697259378...,8,10,NaN,None,None,None,None
1457,695095422348574720,2016-02-04 04:03:57,Twitter for iPhone,This is just a beautiful pupper good shit evol...,https://twitter.com/dog_rates/status/695095422...,12,10,NaN,None,None,pupper,None
1527,690360449368465409,2016-01-22 02:28:52,Twitter for iPhone,Stop sending in lobsters. This is the final wa...,https://twitter.com/dog_rates/status/690360449...,9,10,NaN,None,None,None,None
1603,685943807276412928,2016-01-09 21:58:42,Twitter for iPhone,This is the newly formed pupper a capella grou...,https://twitter.com/dog_rates/status/685943807...,8,10,NaN,None,None,pupper,None
1693,681297372102656000,2015-12-28 02:15:26,Twitter for iPhone,This is actually a lion. We only rate dogs. Fo...,https://twitter.com/dog_rates/status/681297372...,12,10,NaN,None,None,None,None
1724,680085611152338944,2015-12-24 18:00:19,TweetDeck,This is by far the most coordinated series of ...,https://twitter.com/dog_rates/status/680085611...,12,10,NaN,None,None,None,None
1747,679111216690831360,2015-12-22 01:28:25,Twitter for iPhone,This is officially the greatest yawn of all ti...,https://twitter.com/dog_rates/status/679111216...,12,10,NaN,None,None,None,None
1797,677269281705472000,2015-12-16 23:29:14,Twitter for iPhone,This is the happiest pupper I've ever seen. 10...,https://twitter.com/dog_rates/status/677269281...,10,10,NaN,None,None,pupper,None
1815,676613908052996102,2015-12-15 04:05:01,Twitter for iPhone,This is the saddest/sweetest/best picture I've...,https://twitter.com/dog_rates/status/676613908...,12,10,NaN,None,None,None,None
1916,674307341513269249,2015-12-08 19:19:32,Vine - Make a Scene,This is life-changing. 12/10 https://t.co/SroT...,https://vine.co/v/i7nWzrenw5h,12,10,NaN,None,None,None,None
1936,673956914389192708,2015-12-07 20:07:04,Twitter for iPhone,This is one esteemed pupper. Just graduated co...,https://twitter.com/dog_rates/status/673956914...,10,10,NaN,None,None,pupper,None
2001,672482722825261057,2015-12-03 18:29:09,Twitter for iPhone,This is light saber pup. Ready to fight off ev...,https://twitter.com/dog_rates/status/672482722...,10,10,NaN,None,None,None,None
2019,672125275208069120,2015-12-02 18:48:47,Twitter for iPhone,This is just impressive I have nothing else to...,https://twitter.com/dog_rates/status/672125275...,11,10,NaN,None,None,None,None
2030,671789708968640512,2015-12-01 20:35:22,Twitter for iPhone,This is space pup. He's very confused. Tries t...,https://twitter.com/dog_rates/status/671789708...,13,10,NaN,None,None,None,None
2037,671561002136281088,2015-12-01 05:26:34,Twitter for iPhone,This is the best thing I've ever seen so sprea...,https://twitter.com/dog_rates/status/671561002...,13,10,NaN,None,None,None,None
2204,668636665813057536,2015-11-23 03:46:18,Twitter for iPhone,This is an Irish Rigatoni terrier named Berta....,https://twitter.com/dog_rates/status/668636665...,10,10,NaN,None,None,None,None
2212,668587383441514497,2015-11-23 00:30:28,Vine - Make a Scene,Never forget this vine. You will not stop watc...,https://vine.co/v/ea0OwvPTx9l,13,10,NaN,None,None,None,None
2326,666411507551481857,2015-11-17 00:24:19,Twitter for iPhone,This is quite the dog. Gets really excited whe...,https://twitter.com/dog_rates/status/666411507...,2,10,NaN,None,None,None,None
2333,666337882303524864,2015-11-16 19:31:45,Twitter for iPhone,This is an extremely rare horned Parthenon. No...,https://twitter.com/dog_rates/status/666337882...,9,10,NaN,None,None,None,None
2335,666287406224695296,2015-11-16 16:11:11,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,1,2,NaN,None,None,None,None
2345,666063827256086533,2015-11-16 01:22:45,Twitter for iPhone,This is the happiest dog you will ever see. Ve...,https://twitter.com/dog_rates/status/666063827...,10,10,NaN,None,None,None,None
2346,666058600524156928,2015-11-16 01:01:59,Twitter for iPhone,Here is the Rand Paul of retrievers folks! He'...,https://twitter.com/dog_rates/status/666058600...,8,10,NaN,None,None,None,None
2349,666051853826850816,2015-11-16 00:35:11,Twitter for iPhone,This is an odd dog. Hard on the outside but lo...,https://twitter.com/dog_rates/status/666051853...,2,10,NaN,None,None,None,None

## Cleaning Image prediction table

In [65]:
import pandas as pd
import numpy as np
import re
df_image=pd.read_csv('image-predictions.tsv',sep='\t')

In [66]:
df_image.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [67]:
df_image_clean=df_image.copy()

In [68]:
# Converting tweet_id datatype from int to string
df_image_clean['tweet_id']=df_image_clean['tweet_id'].astype('object')

In [69]:
df_image_clean['tweet_id'].dtype

dtype('O')

In [70]:
# Converting p1,p2,p3 to title case from small letter case

In [71]:
df_image_clean['p1']=df_image_clean['p1'].str.title()

In [72]:
df_image_clean['p2']=df_image_clean['p2'].str.title()

In [73]:
df_image_clean['p3']=df_image_clean['p3'].str.title()

In [74]:
df_image_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_Springer_Spaniel,0.465074,True,Collie,0.156665,True,Shetland_Sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature_Pinscher,0.074192,True,Rhodesian_Ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature_Pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature_Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

## Cleaning jason twitter table

In [ ]:
df_jason=pd.read_csv('jason-twitter.csv')

In [ ]:
df_jason_clean=df_jason.copy()

In [ ]:
# Converting tweet_id datatype from int to string
df_jason_clean['tweet_id']=df_jason_clean['tweet_id'].astype('object')

## Tidying data

In [1]:
# clubbing doggo,pupper,puppo and floofer in one column and delete the original 4 columns

In [75]:
def select_dog_stage(row):
    if row['doggo']=='doggo':
        return 'doggo'
    elif row['floofer']=='floofer':
        return 'floofer'
    elif row['pupper']=='pupper':
        return 'pupper'
    elif row['puppo']=='puppo':
        return 'puppo'
    else:
        return 'None'

In [76]:
df_archive_clean['dog_stage']=df_archive_clean.apply(lambda x: select_dog_stage(x),axis=1)

In [78]:
df_archive_clean.head(10)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,dog_stage
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,None
5,891087950875897856,2017-07-29 00:08:17,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13,10,NaN,None,None,None,None,None
6,890971913173991426,2017-07-28 16:27:12,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None,None
7,890729181411237888,2017-07-28 00:22:40,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13,10,NaN,None,None,None,None,None
8,890609185150312448,2017-07-27 16:25:51,Twitter for iPhone,This is Zoey. She doesn't want to be one of th...,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None,None
9,890240255349198849,2017-07-26 15:59:51,Twitter for iPhone,This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None,doggo

In [79]:
del df_archive_clean['doggo']
del df_archive_clean['floofer']
del df_archive_clean['pupper']
del df_archive_clean['puppo']

In [80]:
df_archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None